body {
    font-family: Arial, sans-serif;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}


.header-container{
    width: 100%;
    
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    column-gap: 2rem;

    padding: 0 0;
}

.svg-container{
    flex-shrink: 0;

    aspect-ratio: 1;
    width: 5rem;


    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    overflow: hidden;

    transition: background-color 300ms linear;
}


.svg-container:nth-child(3){
    margin-left: auto;
}




.svg-container:hover{
    background-color: rgba(134, 134, 134, 0.3);
}






.svg-container > svg{
    fill: white;

    width: 60%;

    object-fit: cover;

    overflow: hidden;
}

.post {
    width: 100%;
    max-width: 60rem;
    min-width: 30rem;

    border: .1rem solid #ccc;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: .6rem;

    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);

    /* cursor: pointer; */

    transition: transform 1s ease;
}

.post:hover{
    transform: scale(1.1);
}


.post-title {
    font-size: 1.3rem;
    margin-bottom: .8rem;

    font-weight: bolder;
}

.post-body {
    margin-bottom: 1.2rem;
}

.post-author {
    color: #666;
    font-size: 1rem;
}