:root {
    font-size: 62.5%;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;


    box-sizing: border-box;
}

body,
html {
    --text-colour: rgb(250, 250, 250);
    --background-colour: rgb(29, 29, 29);

    font-size: 1.6rem;

    width: 100%;
    height: 100%;

    padding: 2rem 5rem;

    background-color: var(--background-colour);
    color: var(--text-colour);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    row-gap: 4rem;

    overflow: hidden;
}