<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <% if (typeof pageTitle !== "undefined") { %>

        <%- pageTitle %>

    <% } else { %>

        <title>Default Express Application</title>

    <% } %>


    <link rel="stylesheet" href="/style.css">

    <%- defineContent("styleSheets") %>
</head>

<body>   
    <%- body %>
</body>

</html>